@font-face {
  font-family: 'Tauri';
  src: url('Tauri-Regular.ttf') format('truetype');
}

:root {
  --dark-green: #162C38;
  --light-green: #417972;
}

*{
/*	border:1px solid black;*/
}

.max-width{
	max-width: 900px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Tauri;
}


/*-----------------------Header-----------------------*/

#header{
	background-color: var(--dark-green);
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.header_text{
	margin: 150px 0px 0px 15px;
}

#header h2{
	width: 200px; 
	height: 40px;
	color: white; 
	font-size: 20px; 
	font-family: Tauri; 
}

#header h1{
	width: 283px; 
	color: white; 
	font-size: 60px; 
	font-family: Tauri; 
}

#header p{
	color: #F2D381;
	font-size: 16px;
	width: 343px;
	height: 81px;
	font-family: Tauri; 
	margin-top: 20px;
}

.line1{
	position: absolute;
	left: 0;
	top: 0;
	width: 15%;
}

.line2{
	position: absolute;
	left: 40%;
	width: 15%;
}

.line3{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 40%;
}

.line4{
	position: absolute;
	right: 0;
	width: 5%;
}

.myimage_box{
	width: 65%;
	border-top-left-radius: 123px;
	margin-top: 200px;
}

.myimage{
	width: 100%;
	border-top-left-radius: 123px;
}





/*-----------------------About-----------------------*/

.about{
	background-color: white;
	display: flex;
	justify-content: center;
}

#about{
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	max-width: 900px;
}

.about_me{
	width: 70%;
	color: var(--dark-green);
	align-self: center;
	padding: 15px;
	z-index: 1;
}

hr{
	width: 100px;
	margin-left: 0;
}

#about h1{
	font-size: 40px;
}

#about p{
	margin-right: 50px;
	font-size: 20px;
}

#about img{
	/*align-self: flex-end;
	justify-self: flex-end;*/
	width: 350px;
	position: absolute;
	bottom: 0;
	right: 0px;
	z-index: 0;
}


/*-----------------------What doing-----------------------*/

.what_doing{
	display: flex;
  justify-content: center;
	background: #417972;
}

#what_doing{
	max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
	background: #417972;
}

#what_doing h2{
	font-family: Tauri;
	font-size: 40px;
	color: white;
}

.specs{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;	
}

.spec_item{
	display: flex;
	justify-content: flex-start;
	background-color: white;
	width: 400px;
	height: 194px; 
	border-radius: 28px;
	margin: 25px;
}

.spec_item h1{
	color: var(--light-green);
	font-size: 20px;
	align-self: flex-start;
}

.spec_item p{
	color: var(--light-green);
	font-size: 15px;
	align-self: flex-start;
	margin-right: 20px;
}

.spec_img{
	width: 200px;
	align-self: center;
	margin: 20px;
}

.spec_img img{
	width: 100%;
}

.spec_text{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*-----------------------Projects-----------------------*/

.projects{
	display: flex;
	justify-content: center;
	background: var(--dark-green);
}

#projects{
	max-width: 900px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--dark-green);
	padding-left: 15px;
	padding-right: 15px;
}

#projects img{
	width: 100%;
	max-width: 970px;
}

#projects h1{
	text-align: center;
	font-size: 70px;
	color: var(--light-green);
	margin: 0;
	padding: 0;
}

/*-----------------------Example-----------------------*/

.exmaple{
	display: flex;
	justify-content: center;
	background-color: var(--light-green);
}

#example{
	max-width: 900px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: var(--light-green);
}

#example img{
	width: 100%;
	border: 10px solid var(--dark-green);
}

#example h1{
	color: white;
	text-align: center;
}

#example p{
	color: white;
}

#example ul{
	color: white;
}

.example_task{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.example_task div{
	max-width: 400px;
}

.example_task_text{
	margin: 10px 10px 10px 50px;
}

/*-----------------------Workflow-----------------------*/

.workflow{
	display: flex;
	justify-content: center;
	background-color: var(--dark-green);
	padding: 15px;
}

#workflow{
	max-width: 900px;
	background-color: var(--dark-green);
}

#workflow img{
	width: 100%;
	margin-bottom: 20px;
}

#workflow h1{
	color: white;
}

#workflow p{
	color: white;
}

/*-----------------------Prices-----------------------*/

.prices{
	display: flex;
	justify-content: center;
}

#prices{
	max-width: 900px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
  background-color: white;
  color: var(--light-green);
}

#prices table{
	box-shadow: 2px 2px 2px 2px #888888;
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 250px;
	border-collapse: collapse;
	margin: 15px;
}

#prices table:hover{
/*		transition: ease 3s;*/
	top: 5px;
	right: 5px;
	box-shadow: 5px 5px 5px 5px #888888;
}

#prices th, td{
	border: 3px solid var(--light-green);
	padding-left:10px;
	padding-right:10px;
	border-collapse: collapse;
	text-align: center;
}

.even_td{
	height: 140px;
	text-align: center;
	color: #297373;
	text-justify: left;
}

.option{
	margin: 5px;
}

#prices button{
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 4px solid #3e4f24;
	background: #F2D381; 
	font-size: 16px;
	color: var(--dark-green);
}

#prices button:hover{
	background: #C8AD55; 
}

.option-button{
	padding: 0;
}

/*-----------------------Contact-----------------------*/

.contact{
	background-color: var(--light-green);
	display: flex;
	justify-content: center;
}

#contact{
	width: 90%;
	max-width: 900px;
	background-color: var(--light-green);
}

.form-inner{
	margin: auto;
	align-self: center;
  justify-content: center;
  padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 500px;
}

#contact h1{
	color: white;
	text-align: center;
}

.form-inner input,
.form-inner textarea {
	outline: none;
	display: block;
	width: 94%;
	padding: 15px;
	margin-bottom: 10px;
	border: none;
	border-radius: 20px;
	background: #d0dfe8;
	resize: none;
}

#contact button {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	border-radius: 20px;
	border: none;
	border-bottom: 4px solid #3e4f24;
	background: #F2D381; 
	font-size: 16px;
	font-weight: 400;
	color: var(--dark-green);
}
button:hover {
	background: #3e4f24;
} 


/*-----------------------What doing-----------------------*/

#copyright{
	padding-left: 20%;
  padding-right: 20%;
	background-color: var(--dark-green);
	color: white;
	text-align: center;
	margin: 0;
}





@media (max-width: 900px) {
	#header{
		
		background: linear-gradient(
	          rgba(0, 0, 0, 0.5), 
	          rgba(0, 0, 0, 0.5)
	        ), url(images/myPhoto.jpg);
		background-size: cover;
		padding: 0px 20px 0px 0px;
}

	.myimage_box{
		display: none;
	}
	

	.line1{display: none;}
	.line2{display: none;}
	.line3{display: none;}
	.line4{display: none;}

	#about{
		padding: 0px 15px 80px 15px;
	}

	#about p{
		margin:0;
	}

	.what_doing h2{
		align-self: center;
	}

	#projects h1{
		align-self: center;
	}
}





@media (max-width: 767px) {
	#projects {
		padding-left: 15px;
		padding-right: 15px;
	}
}


@media(max-width: 500px){
		#about{
			padding-bottom: 100px;
		}

		.spec_item{
			width: 95%;
		}

		.spec_img{width: 70%}

		#what_doing img{
			width: 100%;
		}

		.example_task_text{
			margin: 10px 10px 10px 10px;
		}
		.example_task{
			width: 95%;
		} 
}


